<header>
    <h1>Analyzing the stock market as a complex system</h1>
</header>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <!-- <li><a href="module3.html">Module 3</a></li>
        <li><a href="module4.html">Module 4</a></li>
        <li><a href="module5.html">Module 5</a></li>
        <li><a href="module6.html">Module 6</a></li>
        <li><a href="module7.html">Module 7</a></li>
        <li><a href="module9.html">Module 9</a></li>
        <li><a href="module11.html">Module 11</a></li>
        <li><a href="module12.html">Module 12</a></li> -->
        <li><a href="about us.html">About Us</a></li>
    </ul>
</nav>
